* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
 text-align: center;
 padding: 1rem;
}

.search-button {
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  margin: 8px;
  border-radius: 60px;
  cursor: pointer;
  color: #fff;
  border: solid 1px white;
  background: rgba(0,0,0,0.2);
  transition: all 0.5s;
}

.search-button:hover {
  transform: scale(1.07, 1.07);
  border: solid 1px black;
  color: black;
  background-color: rgba(255,255,255,0.3);
}

.search-button:active {
  opacity: 0.7;
  background-color: black;
  color: #fff;
}

input {
  border: solid 1px white;
  color: #fff;
  border-radius: 60px;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  background: rgba(0,0,0,0.2);
}

::placeholder {
  color: rgba(255,255,255,0.7);
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

.app::before {
  content: '';
  background: url('./assets/img3.jpeg') center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: slide 30s infinite;
}

@keyframes slide {
  25% {
    background: url('./assets/img1.jpeg') center;
  }
  50% {
    background: url('./assets/img2.jpeg') center;
  }
  75% {
    background: url('./assets/img3.jpeg') center;
  }
  100% {
    background: url('./assets/img4.jpeg') center;
  }
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  margin: 1rem auto;
}

.description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(268deg);
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}

.bold {
  font-weight: 700;
}